In [7]:
import pandas as pd
import numpy as np

In [11]:
a = [1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5]
b = ["A","A","A","A","A","A","A","A","A","A","B","B","B","B","B","B","B","B","B","B","C","C","C","C","C","C","C","C","C","C","D","D","D","D","D","D","D","D","D","D","E","E","E","E","E","E","E","E","E","E"]
c = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
d = ["2025-01-01","2025-01-02","2025-01-03","2025-01-04","2025-01-05","2025-01-06","2025-01-07","2025-01-08","2025-01-09","2025-01-10","2025-01-11","2025-01-12","2025-01-13","2025-01-14","2025-01-15","2025-01-16","2025-01-17","2025-01-18","2025-01-19","2025-01-20","2025-01-21","2025-01-22","2025-01-23","2025-01-24","2025-01-25","2025-01-26","2025-01-27","2025-01-28","2025-01-29"]
e = [24924.50,50605.24,76286.98,101968.72,127650.46,153332.20,179013.94,204695.68,230377.42,256059.16,281740.90,307422.64,333104.38,358786.12,384467.86,410149.60,435831.34,461513.08,487194.82,512876.56,538558.30,564240.04,589921.78,615603.52,641285.26,666967.00,692648.74,718330.48,744012.22]
f = ["False","False","False","False","False","False","False","False","False","False","True","True","True","True","True","True","True","True","True","True","False","False","False","False","False","False","False","False","False","False"]
g = [5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73,5.73]
h = [0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679,0.679]
i = [8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106,8.106]


# Calculate the minimum length of all lists
min_length = min(len(a), len(b), len(c), len(d), len(e), len(f), len(g), len(h), len(i))

# Truncate all lists to the minimum length
sal = {
	"store": a[:min_length],
	"type": b[:min_length],
	"dept": c[:min_length],
	"date": d[:min_length],
	"weekly_sales": e[:min_length],
	"is_holiday": f[:min_length],
	"temperature": g[:min_length],
	"fuel_price": h[:min_length],
	"unemp": i[:min_length],
}
sales = pd.DataFrame(sal)
print(sales.head())

   store type  dept        date  weekly_sales is_holiday  temperature  \
0      1    A     1  2025-01-01      24924.50      False         5.73
1      1    A     2  2025-01-02      50605.24      False         5.73
2      1    A     3  2025-01-03      76286.98      False         5.73
3      1    A     4  2025-01-04     101968.72      False         5.73
4      1    A     5  2025-01-05     127650.46      False         5.73

   fuel_price  unemp
0       0.679  8.106
1       0.679  8.106
2       0.679  8.106
3       0.679  8.106
4       0.679  8.106

In [ ]:
# Print the head of the sales DataFrame
print(sales.head(10))

# Print the info about the sales DataFrame
print("information :",sales.info())

# Print the mean of weekly_sales
print("mean :",sales['weekly_sales'].mean())

# Print the median of weekly_sales
print("median:",sales['weekly_sales'].median())

   store type  dept        date  weekly_sales is_holiday  temperature  \
0      1    A     1  2025-01-01      24924.50      False         5.73
1      1    A     2  2025-01-02      50605.24      False         5.73
2      1    A     3  2025-01-03      76286.98      False         5.73
3      1    A     4  2025-01-04     101968.72      False         5.73
4      1    A     5  2025-01-05     127650.46      False         5.73
5      1    A     6  2025-01-06     153332.20      False         5.73
6      1    A     7  2025-01-07     179013.94      False         5.73
7      1    A     8  2025-01-08     204695.68      False         5.73
8      1    A     9  2025-01-09     230377.42      False         5.73
9      1    A    10  2025-01-10     256059.16      False         5.73

   fuel_price  unemp
0       0.679  8.106
1       0.679  8.106
2       0.679  8.106
3       0.679  8.106
4       0.679  8.106
5       0.679  8.106
6       0.679  8.106
7       0.679  8.106
8       0.679  8.106
9       0.679  8.106
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         29 non-null     int64
 1   type          29 non-null     object
 2   dept          29 non-null     int64
 3   date          29 non-null     object
 4   weekly_sales  29 non-null     float64
 5   is_holiday    29 non-null     object
 6   temperature   29 non-null     float64
 7   fuel_price    29 non-null     float64
 8   unemp         29 non-null     float64
dtypes: float64(4), int64(2), object(3)
memory usage: 2.2+ KB
information None
mean : 384467.89448275865
median: 384467.86

In [14]:
# Print the maximum of the date column
print(sales['date'].max())
# Print the minimum of the date column
print(sales['date'].min())

2025-01-29
2025-01-01

In [15]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature'].agg(iqr))

0.0

In [17]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature, fuel_price, & unemployment
print(sales[["temperature", "fuel_price", "unemp"]].agg(iqr))

temperature    0.0
fuel_price     0.0
unemp          0.0
dtype: float64

In [19]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature", "fuel_price", "unemp"]].agg([iqr, np.median]))

        temperature  fuel_price  unemp
iqr            0.00       0.000  0.000
median         5.73       0.679  8.106

C:\Users\Asif\AppData\Local\Temp\ipykernel_1500\20491272.py:7: FutureWarning: The provided callable <function median at 0x00000248FF1E1300> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[["temperature", "fuel_price", "unemp"]].agg([iqr, np.median]))
C:\Users\Asif\AppData\Local\Temp\ipykernel_1500\20491272.py:7: FutureWarning: The provided callable <function median at 0x00000248FF1E1300> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[["temperature", "fuel_price", "unemp"]].agg([iqr, np.median]))
C:\Users\Asif\AppData\Local\Temp\ipykernel_1500\20491272.py:7: FutureWarning: The provided callable <function median at 0x00000248FF1E1300> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sales[["temperature", "fuel_price", "unemp"]].agg([iqr, np.median]))

In [21]:
# Assign sales to sales_1_1
sales_1_1 = sales.copy()

# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
0   2025-01-01      24924.50          24924.50       24924.50
1   2025-01-02      50605.24          75529.74       50605.24
2   2025-01-03      76286.98         151816.72       76286.98
3   2025-01-04     101968.72         253785.44      101968.72
4   2025-01-05     127650.46         381435.90      127650.46
5   2025-01-06     153332.20         534768.10      153332.20
6   2025-01-07     179013.94         713782.04      179013.94
7   2025-01-08     204695.68         918477.72      204695.68
8   2025-01-09     230377.42        1148855.14      230377.42
9   2025-01-10     256059.16        1404914.30      256059.16
10  2025-01-11     281740.90        1686655.20      281740.90
11  2025-01-12     307422.64        1994077.84      307422.64
12  2025-01-13     333104.38        2327182.22      333104.38
13  2025-01-14     358786.12        2685968.34      358786.12
14  2025-01-15     384467.86        3070436.20      384467.86
15  2025-01-16     410149.60        3480585.80      410149.60
16  2025-01-17     435831.34        3916417.14      435831.34
17  2025-01-18     461513.08        4377930.22      461513.08
18  2025-01-19     487194.82        4865125.04      487194.82
19  2025-01-20     512876.56        5378001.60      512876.56
20  2025-01-21     538558.30        5916559.90      538558.30
21  2025-01-22     564240.04        6480799.94      564240.04
22  2025-01-23     589921.78        7070721.72      589921.78
23  2025-01-24     615603.52        7686325.24      615603.52
24  2025-01-25     641285.26        8327610.50      641285.26
25  2025-01-26     666967.00        8994577.50      666967.00
26  2025-01-27     692648.74        9687226.24      692648.74
27  2025-01-28     718330.48       10405556.72      718330.48
28  2025-01-29     744012.22       11149568.94      744012.22

In [7]:
import pandas as pd
import numpy as np

In [9]:
sales_data = pd.read_csv(r"E:\Notebook\sales_data.csv")
print(sales_data)

     store type  department        date  weekly_sales  is_holiday  \
0        4    A          56  2011-12-30      12400.61       False
1        7    B          96  2011-04-29      33801.63        True
2        1    A          24  2010-02-05      57624.62       False
3        3    A          45  2010-03-19      21466.23        True
4        3    C           3  2012-03-09      58850.79       False
..     ...  ...         ...         ...           ...         ...
595      2    B          57  2011-12-02      17641.08        True
596      5    C          63  2011-08-05      58188.92        True
597      9    C          85  2010-12-31      15279.01        True
598      5    B          99  2011-03-04      30016.07        True
599      3    C          71  2012-10-19      41462.46       False

     temperature_c  fuel_price_usd_per_l  unemployment
0           31.028                 0.755         8.043
1           29.984                 0.959        10.782
2           17.595                 0.902        11.609
3           -3.947                 0.748         9.082
4           28.006                 0.821        11.988
..             ...                   ...           ...
595         18.124                 0.880         7.981
596          5.715                 0.708         8.793
597         33.484                 1.032        11.745
598         37.255                 0.863         7.385
599         14.241                 0.630         4.304

[600 rows x 9 columns]

In [18]:

# Drop duplicate store/type combinations
store_types = sales_data.drop_duplicates(subset=["store","type"])
print(store_types.head())
print("store types")

# Drop duplicate store/department combinations
store_depts = sales_data.drop_duplicates(subset = ["store","department"])
print(store_depts.head())
print("store depts")

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales_data[sales_data["is_holiday"]== True].drop_duplicates(subset="date")

# Print date col of holiday_dates
print(holiday_dates["date"])

   store type  department        date  weekly_sales  is_holiday  \
0      4    A          56  2011-12-30      12400.61       False
1      7    B          96  2011-04-29      33801.63        True
2      1    A          24  2010-02-05      57624.62       False
3      3    A          45  2010-03-19      21466.23        True
4      3    C           3  2012-03-09      58850.79       False

   temperature_c  fuel_price_usd_per_l  unemployment
0         31.028                 0.755         8.043
1         29.984                 0.959        10.782
2         17.595                 0.902        11.609
3         -3.947                 0.748         9.082
4         28.006                 0.821        11.988
store types
   store type  department        date  weekly_sales  is_holiday  \
0      4    A          56  2011-12-30      12400.61       False
1      7    B          96  2011-04-29      33801.63        True
2      1    A          24  2010-02-05      57624.62       False
3      3    A          45  2010-03-19      21466.23        True
4      3    C           3  2012-03-09      58850.79       False

   temperature_c  fuel_price_usd_per_l  unemployment
0         31.028                 0.755         8.043
1         29.984                 0.959        10.782
2         17.595                 0.902        11.609
3         -3.947                 0.748         9.082
4         28.006                 0.821        11.988
store depts
1      2011-04-29
3      2010-03-19
7      2011-04-22
13     2011-08-19
14     2011-08-12
          ...
540    2010-08-06
550    2010-04-30
566    2012-07-06
579    2012-04-20
582    2012-11-16
Name: date, Length: 135, dtype: object

In [19]:
# Count the number of stores of each type
store_counts = store_types["type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types["type"].value_counts(normalize = True)
print(store_props)

# Count the number of stores for each department and sort
dept_counts_sorted = store_depts["department"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of stores in each department and sort
dept_props_sorted = store_depts["department"].value_counts(sort = True, normalize= True)
print(dept_props_sorted)

type
A    10
B    10
C    10
Name: count, dtype: int64
type
A    0.333333
B    0.333333
C    0.333333
Name: proportion, dtype: float64
department
60    8
25    8
30    8
31    7
58    7
     ..
50    2
94    2
36    1
43    1
87    1
Name: count, Length: 99, dtype: int64
department
60    0.017778
25    0.017778
30    0.017778
31    0.015556
58    0.015556
        ...
50    0.004444
94    0.004444
36    0.002222
43    0.002222
87    0.002222
Name: proportion, Length: 99, dtype: float64

In [24]:
print(sales_data)

     store type  department        date  weekly_sales  is_holiday  \
0        4    A          56  2011-12-30      12400.61       False
1        7    B          96  2011-04-29      33801.63        True
2        1    A          24  2010-02-05      57624.62       False
3        3    A          45  2010-03-19      21466.23        True
4        3    C           3  2012-03-09      58850.79       False
..     ...  ...         ...         ...           ...         ...
595      2    B          57  2011-12-02      17641.08        True
596      5    C          63  2011-08-05      58188.92        True
597      9    C          85  2010-12-31      15279.01        True
598      5    B          99  2011-03-04      30016.07        True
599      3    C          71  2012-10-19      41462.46       False

     temperature_c  fuel_price_usd_per_l  unemployment
0           31.028                 0.755         8.043
1           29.984                 0.959        10.782
2           17.595                 0.902        11.609
3           -3.947                 0.748         9.082
4           28.006                 0.821        11.988
..             ...                   ...           ...
595         18.124                 0.880         7.981
596          5.715                 0.708         8.793
597         33.484                 1.032        11.745
598         37.255                 0.863         7.385
599         14.241                 0.630         4.304

[600 rows x 9 columns]

In [25]:


# Calc total weekly sales
sales_all = sales_data["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales_data[sales_data["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales_data[sales_data["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales_data[sales_data["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.3295398  0.35168321 0.31877699]

In [26]:
# Group by type; calc total weekly sales
sales_by_type = sales_data.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

type
A    0.329540
B    0.351683
C    0.318777
Name: weekly_sales, dtype: float64

In [29]:
# From previous step
sales_by_type = sales_data.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales_data.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         3552486.81
      True          3428447.24
B     False         3851736.76
      True          3598280.94
C     False         2850753.96
      True          3902181.94
Name: weekly_sales, dtype: float64

In [30]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales_data.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean,np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

           min       max          mean     median
type
A     10242.67  59972.36  35257.242677  35067.480
B     10194.19  59925.13  34813.166822  34801.495
C     10502.70  59705.74  35919.871809  36518.415
     unemployment                           fuel_price_usd_per_l         \
              min     max      mean  median                  min    max
type
A           4.044  11.992  8.327561  8.3995                0.602  1.198
B           4.009  11.977  8.154299  8.1255                0.604  1.200
C           4.039  11.988  7.853926  7.9375                0.612  1.196


          mean  median
type
A     0.901944  0.9095
B     0.898336  0.8870
C     0.895277  0.8810

C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:5: FutureWarning: The provided callable <function min at 0x00000199B6979EE0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sales_stats = sales_data.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:5: FutureWarning: The provided callable <function max at 0x00000199B6979DA0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sales_stats = sales_data.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:5: FutureWarning: The provided callable <function mean at 0x00000199B697A7A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  sales_stats = sales_data.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:5: FutureWarning: The provided callable <function median at 0x00000199B6ACFEC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales_stats = sales_data.groupby("type")["weekly_sales"].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:11: FutureWarning: The provided callable <function min at 0x00000199B6979EE0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:11: FutureWarning: The provided callable <function max at 0x00000199B6979DA0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:11: FutureWarning: The provided callable <function mean at 0x00000199B697A7A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:11: FutureWarning: The provided callable <function median at 0x00000199B6ACFEC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3264712944.py:11: FutureWarning: The provided callable <function min at 0x00000199B6979EE0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = sales_data.groupby("type")[["unemployment","fuel_price_usd_per_l"]].agg([np.min,np.max,np.mean,np.median])

In [31]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales_data.pivot_table(values="weekly_sales",index ="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     35257.242677
B     34813.166822
C     35919.871809

In [32]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales_data.pivot_table(values="weekly_sales",index = "type",aggfunc=[np.mean,np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     35257.242677    35067.480
B     34813.166822    34801.495
C     35919.871809    36518.415

C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3171975289.py:5: FutureWarning: The provided callable <function mean at 0x00000199B697A7A0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  mean_med_sales_by_type = sales_data.pivot_table(values="weekly_sales",index = "type",aggfunc=[np.mean,np.median])
C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3171975289.py:5: FutureWarning: The provided callable <function median at 0x00000199B6ACFEC0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  mean_med_sales_by_type = sales_data.pivot_table(values="weekly_sales",index = "type",aggfunc=[np.mean,np.median])

In [33]:
import numpy as np
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales_data.pivot_table(values = "weekly_sales",index = "type",columns = "is_holiday", aggfunc =np.mean )

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False         True
type
A           34158.527019  36472.842979
B           35015.788727  34598.855192
C           35634.424500  36131.314259

C:\Users\Asif\AppData\Local\Temp\ipykernel_13252\3406538924.py:3: FutureWarning: The provided callable <function mean at 0x00000199B697A7A0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  mean_sales_by_type_holiday = sales_data.pivot_table(values = "weekly_sales",index = "type",columns = "is_holiday", aggfunc =np.mean )

In [34]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales_data.pivot_table(values = "weekly_sales",index = "department",columns = "type" ,fill_value = 0))

type                   A             B             C
department
1           36172.730000  43457.975000  39238.275000
2           44881.970000  39883.940000  36165.395000
3           45939.510000      0.000000  58850.790000
4           31831.336667  58987.570000  32539.125000
5           42640.170000  52046.550000  32545.420000
...                  ...           ...           ...
95          20048.080000  41188.090000  42129.420000
96          19361.740000  30263.824000  52059.260000
97              0.000000  17179.510000  42502.015000
98          37451.050000  36185.003333  34715.255000
99          46705.250000  23300.285000  31925.583333

[99 rows x 3 columns]

In [35]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales_data.pivot_table(values="weekly_sales", index="department", columns="type", fill_value = 0 , margins = True))

type                   A             B             C           All
department
1           36172.730000  43457.975000  39238.275000  39622.993333
2           44881.970000  39883.940000  36165.395000  39274.175000
3           45939.510000      0.000000  58850.790000  50243.270000
4           31831.336667  58987.570000  32539.125000  36593.305000
5           42640.170000  52046.550000  32545.420000  44383.772000
...                  ...           ...           ...           ...
96          19361.740000  30263.824000  52059.260000  34349.922500
97              0.000000  17179.510000  42502.015000  29840.762500
98          37451.050000  36185.003333  34715.255000  36263.061818
99          46705.250000  23300.285000  31925.583333  32909.364000
All         35257.242677  34813.166822  35919.871809  35306.479417

[100 rows x 4 columns]