In [8]:
z = 4
if z % 2 == 0:
    print("z is checking" + " " + str((z)))
    print("even")

z is checking 4
even

In [9]:
z = 5
if z % 2 == 0:
    print("z is checking" + " " + str((z)))
    print("even")
else:
    print("z is checking" + " " + str((z)))
    print("odd")

z is checking 5
odd

In [11]:
"""
if condition:   
    statements /expression
elif condition:
    statements /expression
elif condition:
    statements /expression
else:
    statements /expression
"""

'\nif condition:   \n    statements /expression\nelif condition:\n    statements /expression\nelif condition:\n    statements /expression\nelse:\n    statements /expression\n'

In [12]:
z = 3
if z % 2 == 0:
    print("even")
elif z % 3 == 0:
    print("odd")
else:
    print("not even and not odd")

odd

In [13]:
# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area > 15:
    print("big place!")

looking around in the kitchen.

In [14]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else:
    print("pretty small.")

looking around in the kitchen.
pretty small.

In [15]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

In [1]:
import pandas as pd

In [18]:
a = ["America", "Canada", "Mexico", "Brazil", "Argentina"]
b = ["New York", "Toronto", "Mexico City", "Brasilia", "Buenos Aires"]
c = [14.674,10.544, 9.222, 8.513, 4.454]
d = [200.400, 100.500, 50.200, 30.000, 20.000]
data = {"Country": a, "City": b, "Area": c, "Population": d}
df = pd.DataFrame(data)
print(df)

     Country          City    Area  Population
0    America      New York  14.674       200.4
1     Canada       Toronto  10.544       100.5
2     Mexico   Mexico City   9.222        50.2
3     Brazil      Brasilia   8.513        30.0
4  Argentina  Buenos Aires   4.454        20.0

In [19]:
row_labels = ["USA","CAN","MEX","BRA","ARG"]
df.index = row_labels
print(df)

       Country          City    Area  Population
USA    America      New York  14.674       200.4
CAN     Canada       Toronto  10.544       100.5
MEX     Mexico   Mexico City   9.222        50.2
BRA     Brazil      Brasilia   8.513        30.0
ARG  Argentina  Buenos Aires   4.454        20.0

In [25]:
df["Area"]

USA    14.674
CAN    10.544
MEX     9.222
BRA     8.513
ARG     4.454
Name: Area, dtype: float64

In [28]:
df.loc[:, "Area"]

USA    14.674
CAN    10.544
MEX     9.222
BRA     8.513
ARG     4.454
Name: Area, dtype: float64

In [29]:
df.iloc[:, 2]

USA    14.674
CAN    10.544
MEX     9.222
BRA     8.513
ARG     4.454
Name: Area, dtype: float64

In [30]:
df["Area"]>10

USA     True
CAN     True
MEX    False
BRA    False
ARG    False
Name: Area, dtype: bool

In [31]:
is_huge = df["Area"] > 10
df[is_huge]

     Country      City    Area  Population  True
USA  America  New York  14.674       200.4     0
CAN   Canada   Toronto  10.544       100.5     0

In [44]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Create dictionary my_dict with three key:value pairs: my_dict
my_dect ={'country':names,'drives_right':dr,'cars_per_cap':cpc}
# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dect)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
# Extract drives_right column as Series: dr
dr = cars['drives_right']
# Use dr to subset cars: sel
# You’re subsetting the cars DataFrame — meaning you're saying:
# “Hey, give me only the rows where drives_right is True.”
sel = cars[dr]
# Print sel
print(sel)

         country  drives_right  cars_per_cap
0  United States          True           809
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
# Convert code to a one-liner
# dr = cars['drives_right']
sel = cars[cars['drives_right']]

# Print sel
print(sel)

         country  drives_right  cars_per_cap
0  United States          True           809
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
# Create car_maniac: observations that have a cars_per_cap over 500
"""cpc = cars['cars_per_cap']
car_per = cpc > 500
car_maniac = cars[car_per]"""
# Convert code to a one-liner
car_maniac =cars[cars['cars_per_cap'] > 500]
# Print car_maniac
print(car_maniac)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588

In [ ]:
# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100,cpc < 500)
medium = cars[between]


# Print medium
print(medium)

  country  drives_right  cars_per_cap
4  Russia          True           200

In [51]:
np_cpc = np.logical_and(cars['cars_per_cap'] > 100, cars['cars_per_cap'] < 500)
medium = cars[np_cpc]
# Print medium  
print(medium)

  country  drives_right  cars_per_cap
4  Russia          True           200