In [ ]:
"""
while condition:
     expression
"""

In [1]:
error = 50
while error > 0:
    print("Error: ", error)
    error -= 10

Error:  50
Error:  40
Error:  30
Error:  20
Error:  10

In [3]:
error = 50
while error > 1:
    error = error / 4
    print("Error: ", error)

Error:  12.5
Error:  3.125
Error:  0.78125

In [4]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 :
    print("correcting....")
    offset = offset - 1

correcting....
correcting....
correcting....
correcting....
correcting....
correcting....
correcting....
correcting....

In [5]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
       offset -= 1
    else : 
      offset  += 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [ ]:
# for variable in sequence:
#    expression

In [8]:
fam = [1.68, 1.75, 1.80, 1.82, 1.90]
for height in fam:
    print("Height: ", height)

Height:  1.68
Height:  1.75
Height:  1.8
Height:  1.82
Height:  1.9

In [11]:
fam = [1.68, 1.75, 1.80, 1.82, 1.90]
for index, height in enumerate (fam):
    print("index"+" "+str(index)+": ", height)

index 0:  1.68
index 1:  1.75
index 2:  1.8
index 3:  1.82
index 4:  1.9

In [13]:
for c in "family":
    print(c.capitalize())

F
A
M
I
L
Y

In [14]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for all in areas:
    print(all)

11.25
18.0
20.0
10.75
9.5

In [15]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room"+" "+str(index)+ ":" + str(a))

room 0:11.25
room 1:18.0
room 2:20.0
room 3:10.75
room 4:9.5

In [16]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [17]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for i in house:
    room_name = i[0]
    size = i[1]
    print("the"+" "+room_name+" "+"is"+" "+str(size)+" "+"sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [20]:
world = {"afghanistan": 652230,
         "albania": 28748,
         "algeria": 2381741,
         "andorra": 468,
         "angola": 1246700,
         "antigua and barbuda": 442,
         "argentina": 2780400,
         "armenia": 29743,
         "australia": 7692024,
         "austria": 83879,
         "azerbaijan": 86600}
for country, area in world.items():
    print("the area of " + country + " is " + str(area) + " square km")

the area of afghanistan is 652230 square km
the area of albania is 28748 square km
the area of algeria is 2381741 square km
the area of andorra is 468 square km
the area of angola is 1246700 square km
the area of antigua and barbuda is 442 square km
the area of argentina is 2780400 square km
the area of armenia is 29743 square km
the area of australia is 7692024 square km
the area of austria is 83879 square km
the area of azerbaijan is 86600 square km

In [22]:
import numpy as np
np_heights = np.array([1.68, 1.75, 1.80, 1.82, 1.90])
np_weights = np.array([70.4, 80.2, 90.5, 95.0, 100.0])
np_bmi = np_weights / np_heights ** 2   
for i in np_bmi:
    print(i)

24.943310657596378
26.187755102040818
27.932098765432098
28.680111097693512
27.70083102493075

In [26]:
np_heights = np.array([1.68, 1.75, 1.80, 1.82, 1.90])
np_weights = np.array([70.4, 80.2, 90.5, 95.0, 100.0])
mean = np.array([np_heights, np_weights])
print(mean)
print("-----------------------------")
for i in mean:
    print(i)

[[  1.68   1.75   1.8    1.82   1.9 ]
 [ 70.4   80.2   90.5   95.   100.  ]]
-----------------------------
[1.68 1.75 1.8  1.82 1.9 ]
[ 70.4  80.2  90.5  95.  100. ]

In [27]:
np_heights = np.array([1.68, 1.75, 1.80, 1.82, 1.90])
np_weights = np.array([70.4, 80.2, 90.5, 95.0, 100.0])
mean = np.array([np_heights, np_weights])
print(mean)
print("-----------------------------")
for i in np.nditer(mean):
    print(i)

[[  1.68   1.75   1.8    1.82   1.9 ]
 [ 70.4   80.2   90.5   95.   100.  ]]
-----------------------------
1.68
1.75
1.8
1.82
1.9
70.4
80.2
90.5
95.0
100.0

In [28]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country,capital in europe.items():
    print("the capital of"+" "+country+" "+"is"+" "+capital)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [29]:
import pandas as pd

In [30]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Create dictionary my_dict with three key:value pairs: my_dict
my_dect ={'country':names,'drives_right':dr,'cars_per_cap':cpc}
# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dect)
# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [36]:
c = ["USA","AUS","JPN","IND","RUS","MOR","EGY"]
cars.index = c
# Print cars again  
print(cars)

           country  drives_right  cars_per_cap
USA  United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IND          India         False            18
RUS         Russia          True           200
MOR        Morocco          True            70
EGY          Egypt          True            45

In [37]:
for lab,row in cars.iterrows():
    print(lab)
    print(row)
    print("\n")

USA
country         United States
drives_right             True
cars_per_cap              809
Name: USA, dtype: object


AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object


JPN
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object


IND
country         India
drives_right    False
cars_per_cap       18
Name: IND, dtype: object


RUS
country         Russia
drives_right      True
cars_per_cap       200
Name: RUS, dtype: object


MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object


EGY
country         Egypt
drives_right     True
cars_per_cap       45
Name: EGY, dtype: object

In [39]:
for label, row in cars.iterrows():
    print(label + ": " + row["country"])
    print("-----------------")

USA: United States
-----------------
AUS: Australia
-----------------
JPN: Japan
-----------------
IND: India
-----------------
RUS: Russia
-----------------
MOR: Morocco
-----------------
EGY: Egypt
-----------------

In [52]:
cars['length_name'] = cars['country'].apply(len)
print(cars)

           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5

In [53]:
for label, row in cars.iterrows():
    cars.loc[label, "length_name"] = len(row["country"])
# Print cars again
    print(cars.head(8))

           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5
           country  drives_right  cars_per_cap  length_name
USA  United States          True           809           13
AUS      Australia         False           731            9
JPN          Japan         False           588            5
IND          India         False            18            5
RUS         Russia          True           200            6
MOR        Morocco          True            70            7
EGY          Egypt          True            45            5

In [54]:
# Iterate over rows of cars
for label,row in cars.iterrows():
    print(label)
    print(row)

USA
country         United States
drives_right             True
cars_per_cap              809
length_name                13
Name: USA, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
length_name             9
Name: AUS, dtype: object
JPN
country         Japan
drives_right    False
cars_per_cap      588
length_name         5
Name: JPN, dtype: object
IND
country         India
drives_right    False
cars_per_cap       18
length_name         5
Name: IND, dtype: object
RUS
country         Russia
drives_right      True
cars_per_cap       200
length_name          6
Name: RUS, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
length_name           7
Name: MOR, dtype: object
EGY
country         Egypt
drives_right     True
cars_per_cap       45
length_name         5
Name: EGY, dtype: object

In [55]:
# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

USA: 809
AUS: 731
JPN: 588
IND: 18
RUS: 200
MOR: 70
EGY: 45

In [56]:
# Code for loop that adds COUNTRY column
for label,row in cars.iterrows():
    cars.loc[label,'COUNTRY'] = row['country'].upper()


# Print cars
print(cars)

           country  drives_right  cars_per_cap  length_name        COUNTRY
USA  United States          True           809           13  UNITED STATES
AUS      Australia         False           731            9      AUSTRALIA
JPN          Japan         False           588            5          JAPAN
IND          India         False            18            5          INDIA
RUS         Russia          True           200            6         RUSSIA
MOR        Morocco          True            70            7        MOROCCO
EGY          Egypt          True            45            5          EGYPT

In [59]:
for label, row in cars.iterrows():
    cars.loc[label,"car_cap_update"] = row["cars_per_cap"] / 1000
print(cars)

           country  drives_right  cars_per_cap  length_name        COUNTRY  \
USA  United States          True      0.000809           13  UNITED STATES
AUS      Australia         False      0.000731            9      AUSTRALIA
JPN          Japan         False      0.000588            5          JAPAN
IND          India         False      0.000018            5          INDIA
RUS         Russia          True      0.000200            6         RUSSIA
MOR        Morocco          True      0.000070            7        MOROCCO
EGY          Egypt          True      0.000045            5          EGYPT

     car_cap_update
USA    8.090000e-07
AUS    7.310000e-07
JPN    5.880000e-07
IND    1.800000e-08
RUS    2.000000e-07
MOR    7.000000e-08
EGY    4.500000e-08

In [60]:
# Use .apply(str.upper)
cars['COUNTRY'] = cars['country'].apply(str.upper)
print(cars)

           country  drives_right  cars_per_cap  length_name        COUNTRY  \
USA  United States          True      0.000809           13  UNITED STATES
AUS      Australia         False      0.000731            9      AUSTRALIA
JPN          Japan         False      0.000588            5          JAPAN
IND          India         False      0.000018            5          INDIA
RUS         Russia          True      0.000200            6         RUSSIA
MOR        Morocco          True      0.000070            7        MOROCCO
EGY          Egypt          True      0.000045            5          EGYPT

     car_cap_update
USA    8.090000e-07
AUS    7.310000e-07
JPN    5.880000e-07
IND    1.800000e-08
RUS    2.000000e-07
MOR    7.000000e-08
EGY    4.500000e-08