In [14]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Install pandas if not already installed
%pip install pandas

# Import pandas as pd
import pandas as pd # type: ignore
# Create dictionary my_dict with three key:value pairs: my_dict
my_dect ={'country':names,'drives_right':dr,'cars_per_cap':cpc}


# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame(my_dect)

# Print cars
print(cars)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.2.4-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asif\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\asif\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Using cached numpy-2.2.4-cp311-cp311-win_amd64.whl (12.9 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.
         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [15]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=[row_labels]

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [17]:

# Import the cars.csv data: cars
#cars=pd.read_csv('cars.csv')
# Print out cars
#print(cars)

In [ ]:
# Import pandas as pd
#import pandas as pd

# Fix import by including index_col
#cars = pd.read_csv('cars.csv',index_col= 0 )

# Print out cars
#print(cars)

In [18]:
cars['country']

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [22]:
cars['country'] = cars.index
# Print out cars
print(cars)
# Print out country column as Pandas Series object
print(cars['country'])

    country  drives_right  cars_per_cap
US    (US,)          True           809
AUS  (AUS,)         False           731
JPN  (JPN,)         False           588
IN    (IN,)         False            18
RU    (RU,)          True           200
MOR  (MOR,)          True            70
EG    (EG,)          True            45
US      (US,)
AUS    (AUS,)
JPN    (JPN,)
IN      (IN,)
RU      (RU,)
MOR    (MOR,)
EG      (EG,)
Name: country, dtype: object

In [23]:
print(type(cars['country']))

<class 'pandas.core.series.Series'>

In [27]:
# Recreate the cars DataFrame
cars = pd.DataFrame(my_dect)
cars.index = row_labels

# Access the 'country' column
cars[['country']]

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [28]:
cars[['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [29]:
cars[1:4]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
JPN      Japan         False           588
IN       India         False            18

In [30]:
cars.loc['AUS']

country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object

In [33]:
cars.loc[['AUS', 'EG']]

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [35]:
cars.loc[['AUS', 'EG'], ['country','drives_right']]

       country  drives_right
AUS  Australia         False
EG       Egypt          True

In [37]:
cars.loc[:, ['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [39]:
cars.iloc[[1]]

       country  drives_right  cars_per_cap
AUS  Australia         False           731

In [40]:
cars.iloc[[1,2,3],[0,1]]

       country  drives_right
AUS  Australia         False
JPN      Japan         False
IN       India         False

In [41]:
cars.iloc[:,[0,1]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [44]:
# Print out first 3 observations
print(cars.iloc[0:3])

# Print out fourth, fifth and sixth observation
print(cars.iloc[3:6])

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70

In [45]:
# Print out observation for Japan
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.iloc[[1,6]])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [50]:
# Print out drives_right value of Morocco
print(cars.loc['MOR','drives_right'])

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [49]:

# Print out drives_right column as Series
print(cars['drives_right'])

# Print out drives_right column as DataFrame
print(cars[['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars[['cars_per_cap','drives_right']])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [4]:
# Import pandas as pd
import pandas as pd

# Recreate the cars DataFrame using existing variables
cars = pd.DataFrame(my_dect)
cars.index = row_labels

# Print cars info
print(cars.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, US to EG
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       7 non-null      object
 1   drives_right  7 non-null      bool
 2   cars_per_cap  7 non-null      int64
dtypes: bool(1), int64(1), object(1)
memory usage: 175.0+ bytes
None

In [5]:
print(cars.describe())

       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

In [6]:
print(cars.head())
print(cars.tail())

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
     country  drives_right  cars_per_cap
JPN    Japan         False           588
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70
EG     Egypt          True            45

In [7]:
print(cars.shape)

(7, 3)

In [8]:
print(cars.values)

[['United States' True 809]
 ['Australia' False 731]
 ['Japan' False 588]
 ['India' False 18]
 ['Russia' True 200]
 ['Morocco' True 70]
 ['Egypt' True 45]]

In [9]:
print(cars.index)

Index(['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG'], dtype='object')

In [10]:
print(cars.columns)

Index(['country', 'drives_right', 'cars_per_cap'], dtype='object')

In [11]:
# Sort homelessness by individuals
homelessness_ind = cars.sort_values("country", ascending=True)

# Print the top few rows
print(homelessness_ind.head())

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45
IN       India         False            18
JPN      Japan         False           588
MOR    Morocco          True            70

In [12]:
# Sort homelessness by descending family members
homelessness_fam = cars.sort_values('cars_per_cap',ascending=False)

print(homelessness_fam.head())

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
RU          Russia          True           200
MOR        Morocco          True            70

In [14]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = cars.sort_values(['country','cars_per_cap'],ascending =[True,False]) 

# Print the top few rows
print(homelessness_reg_fam.head())

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45
IN       India         False            18
JPN      Japan         False           588
MOR    Morocco          True            70

In [15]:
individuals = cars['country']

print(individuals.head())

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
Name: country, dtype: object

In [16]:
# Select the state and family_members columns
state_fam = cars[['country','cars_per_cap']]

print(state_fam.head())

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200

In [19]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = cars[cars['cars_per_cap']>250]

# See the result
print(ind_gt_10k)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588

In [23]:
# Filter for rows where region is Mountain
mountain_reg = cars[cars['country']== 731]

# See the result
print(mountain_reg)

Empty DataFrame
Columns: [country, drives_right, cars_per_cap]
Index: []

In [24]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
#fam_lt_1k_pac = homelessness[(homelessness['family_members']<1000) &(homelessness['region']=='Pacific')]

# See the result
#print(fam_lt_1k_pac)

In [ ]:
# The Mojave Desert states
#canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
#mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
#print(mojave_homelessness)

In [ ]:
# Add total col as sum of individuals and family_members

#homelessness['total']= homelessness['individuals']+  homelessness['family_members']
# Add p_homeless col as proportion of total homeless population to the state population
#homelessness['p_homeless']= homelessness['total']/homelessness['state_pop']

# See the result
#print(homelessness)

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
#homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] /homelessness ['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
#high_homelessness =homelessness [homelessness['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
#high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k',ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
#result = high_homelessness_srt[["state", "indiv_per_10k"]]

# See the result
#print(result)