In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
n = 5
for i in range(n):
    for j in range(i):
        print(n,end=" ")
    print()

5
5 5
5 5 5
5 5 5 5

In [31]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [43]:
n = 5
for i in range(1,n-1):
    for j in range(i):
        print(n-i, end=' ')
    print()

4
3 3
2 2 2

In [52]:
n = 5
for i in range(1,n+1):
    for j in range(i):
     print(n-j, end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [112]:
n = 5
for i in range(1, n+1):
    for j in range(1,i+1):
     print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [73]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
     print(n-i-j, end=' ')
    print()

3
2 1
1 0 -1
0 -1 -2 -3
-1 -2 -3 -4 -5

In [117]:
n = 5
for i in range(n,0,-1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [132]:
n = 5
for i in range(1, n):
    print(" " * (n-i), end='')
    for j in range(1, i+1):
        print(" " + str(j), end=' ')
    print()

     1
    1  2
   1  2  3
  1  2  3  4

In [133]:
for i in range(1, 4):
    for j in range(1, i+1):
        print(f"i={i}, j={j}")  # Shows exactly whatâ€™s going on

i=1, j=1
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2
i=3, j=3

In [134]:
n = 5
for i in range(1, n+1):
    print(f"Row {i}:")
    for j in range(i):
        print(f"   i={i}, j={j}, printing: {i}")
    print()

Row 1:
   i=1, j=0, printing: 1

Row 2:
   i=2, j=0, printing: 2
   i=2, j=1, printing: 2

Row 3:
   i=3, j=0, printing: 3
   i=3, j=1, printing: 3
   i=3, j=2, printing: 3

Row 4:
   i=4, j=0, printing: 4
   i=4, j=1, printing: 4
   i=4, j=2, printing: 4
   i=4, j=3, printing: 4

Row 5:
   i=5, j=0, printing: 5
   i=5, j=1, printing: 5
   i=5, j=2, printing: 5
   i=5, j=3, printing: 5
   i=5, j=4, printing: 5

In [156]:
n = 5
for i in range(n,0,-1):
    
    for j in range(n-i+1):
        print(i, end=' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [200]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print(" ", end='')
    for j in range(i):
        print(str(i)[::-1], end=' ')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [196]:
for i in range(1, n+1):
    print('  ', end='')
    for j in range(i):
        print(i, end=' ')
    print()

  1
  2 2
  3 3 3
  4 4 4 4
  5 5 5 5 5

In [193]:
n = 5
for i in range(1, n+1):                       # Rows 1 to 5
    for space in range(n - i):                # Print spaces before numbers
        print('  ', end='')                   # Two spaces for alignment
    for j in range(i):                        # Print the number i, i times
        print(f'{i} ', end='')
    print()                                   # Move to the next line

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [214]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print("  ", end='')
    for j in range(i-1):
        print(str(i), end=' ')
    for k in range(i):
        print(k-2, end=' ')
    print()

        -2
      2 -2 -1
    3 3 -2 -1 0
  4 4 4 -2 -1 0 1
5 5 5 5 -2 -1 0 1 2

In [217]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print("  ", end='')
    for j in range(1,i+1):
        print(j, end=' ')
    for k in range(i-1, 0, -1):
        print(k, end=' ')
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [218]:
n = 5
for i in range(1, n+1):
    # Print spaces
    for space in range(n - i):
        print('  ', end='')

    # Print increasing numbers
    for num in range(1, i+1):
        print(f'{num} ', end='')

    # Print decreasing numbers
    for num in range(i-1, 0, -1):
        print(f'{num} ', end='')

    # New line after each row
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [247]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print(" ", end='')
    for j in range(i):
        print("*", end=' ')
    print()  # Move to the next line after each row

for k in range(n-1, 0, -1):
    for space in range(n-k):
        print(" ", end='')
    for j in range(k):
        print("*", end=' ')
    print()  # Move to the next line after each row

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [260]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print("  ", end='')
    for j in range(1,i+1):
        print(j, end=' ')
    for k in range(i-1, 0, -1):
        print(k, end=' ')
    print()  # Move to the next line after each row

for k in range(n-1, 0, -1):
    for space in range(n-k):
        print("  ", end='')
    for j in range(1,k+1):
        print(j, end=' ')
    for k in range(k-1, 0, -1):
        print(k, end=' ')
    print()  # Move to the next line after each row

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
  1 2 3 4 3 2 1
    1 2 3 2 1
      1 2 1
        1

In [330]:
n = 5
for i in range(1,n+1): 
    for space in range(n-i):
        print("  ", end='') 
    row = list(range(1,i+1)) + list(range(i-1,0,-1))
    #print(row,  end='')
    for j in range(len(row)):
        if i == 1:
            print(row[j], end=' ')
            break
        elif i == n:
            print(row[j], end=' ')
        elif j == 0 or j == len(row)-1:
            print(row[j], end=' ')
        else:
            print(" ", end=' ') 
    print()  # Move to the next line after each row

        1
      1   1
    1       1
  1           1
1 2 3 4 5 4 3 2 1